<div class="grid md:grid-cols-2 gap-20 mb-48">
    <div class="flex flex-col gap-4">
        <div id="p1-title" class="section-header"><%= t.p1t %></div>
        <h4 id="p1-text" class="text-3xl font-bold mb-2"><%= t.p1h %></h4>
        <p id="p1-desc" class="text-lg text-white/40 leading-relaxed font-bold"><%= t.p1d %></p>
    </div>
    
    <div class="flex flex-col gap-4">
        <div id="p2-title" class="section-header"><%= t.p2t %></div>
        <h4 id="p2-text" class="text-3xl font-bold mb-2"><%= t.p2h %></h4>
        <p id="p2-desc" class="text-lg text-white/40 leading-relaxed font-medium"><%= t.p2d %></p>
    </div>
    
    <div class="flex flex-col gap-4">
        <div id="p3-title" class="section-header"><%= t.p3t %></div>
        <h4 id="p3-text" class="text-3xl font-bold mb-2"><%= t.p3h %></h4>
        <p id="p3-desc" class="text-lg text-white/40 leading-relaxed font-medium"><%= t.p3d %></p>
    </div>

    <div class="flex flex-col gap-4">
        <div id="p4-title" class="section-header"><%= t.p4t %></div>
        <h4 id="p4-text" class="text-3xl font-bold mb-2"><%= t.p4h %></h4>
        <p id="p4-desc" class="text-lg text-white/40 leading-relaxed font-medium"><%= t.p4d %></p>
    </div>
</div>
